*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Verdana;
    }
    /*2436585 - Lucas Vermondes Araújo*/
html{
    max-width: 100%;
    overflow-x: hidden;
    }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    font-size: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }  
  li{
    float: left;
    width: 33.33%;
    max-width: 100%;
    height: auto;
    margin: 0;
    
  }  
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }  
  li a:hover {
    background-color: #111;
  }
  .pagina_atual {
    background-color: rgb(255, 0, 0);
  }
  body{
    background-color: #ffffff;
  }
  .logocentro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .logohome{
    display: block;
    margin-left: 0;
    margin-right: auto;
    max-width: 100%;
    float: left;
   

    
  }  
  .logofooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 100%;
  }
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    overflow: auto;
    width: 100%;
    height: 2.5rem;
  }
  h1{
    text-align: center;
    font-family: Verdana;
    font-size: 35px;
  }
  .meunome{
    color: rgb(0, 125, 197);
  }
  table{
    text-align: center;
    position: center;
    border-collapse: collapse; 
    background-color: #f6f6f6;
    font-family: Verdana;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  td{
    border: 1px solid #999;
    padding: 20px;
  }
  th{
    background: rgb(255, 0, 0);
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;    
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }  
  #content-wrap {
    padding-bottom: 2.5rem;
  }
  .resumologo{
    color: rgb(0, 125, 197);
    font-family: verdana;
    position: relative;
    overflow: hidden;     
  }
  .textohome{
    padding-top: 100px;
    font-size: 20px;
    padding: 20px;
    padding-top: 100px;
    text-align: center;       
  }
  .imgal{
    max-width: 100%;
  }
  #grid-container{
    margin-top: 5px;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 1px;
    max-width: 1200px;   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    
}
.grid div{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.6rem;
    padding: 5px;
}
.txtg{
  color: rgb(0, 125, 197);
  font-family: verdana;
}
.txt{
  display: block;
  background-color: #fff;
  width: 80%;
  box-shadow: 2px 2px 2px 2px #808080;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 15px;
  text-align: justify; 
  font-size: 20px;
  max-width: 80%;
  font-family: verdana;
}
.titulo{
  color: rgb(0, 125, 197);
  font-family: verdana;
}